{% extends "base.html" %}

{% block head %}
    <!-- JSON Data Scripts -->
    {% include 'components/data_scripts.html' %}
{% endblock %}

{% block content %}
    <!-- Header -->
    {% include 'components/header.html' %}

    <!-- Search Form -->
    {% include 'components/search_form.html' %}
    
    <!-- Progress Indicator -->
    {% include 'components/progress_indicator.html' %}
    
    <!-- Route Step Tracker -->
    {% include 'components/progress_tracker.html' %}    
    <!-- Results Section with Tabs -->
    {% include 'components/results_section.html' %}
      <!-- Search Status Section -->
    {% include 'components/search_status.html' %}
{% endblock %}

{% block modals %}
    <!-- Modals -->
    {% include 'components/modals.html' %}
{% endblock %}